/* 影片網格樣式 */
.video-grid {
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 1em;
}

.video-card{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   margin-bottom: 10px;
}

.router-link{
   text-decoration: none;
   color: #000;
}

/* 影片縮圖樣式 */
.video-thumbnail {
   position: relative;
   width: 100%; /* 保證適應父元素寬度 */
   height: 0;
   padding-bottom: 56.25%; /* 16:9 比例 */
   overflow: hidden;
   background-color: #b7d5cb;
}

.video-thumbnail img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* 保持圖片填滿容器，不變形 */
}

/* 播放按鈕樣式 */
.play-icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3em;
   color: rgb(0, 0, 0);
   opacity: 0.8;
}

.complete-icon {
   color: #43a989;
   margin-right: 4px;
}

.video-title {
   width: 200px;
   font-size: 1.75em;
   font-weight: bold;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow:hidden;
}

.left-section {
   display: flex; /* 使用 Flex 排列 .complete-icon 和 .video-title */
   align-items: center; /* 垂直居中對齊 */
 }

.video-info-card {
   font-size: 1em;
   display: flex;
   margin: 1.5em;
   align-items: center;
   justify-content: space-between;
   
}

.view-count {
   color: grey;
   font-size: 1.5em;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow:hidden;
}

.video-container {
   position: relative;
   margin-top: 1em;
   padding-bottom: 56.25%; /* 16:9 aspect ratio */
   width: 100%;
   height: 0;
   overflow: hidden;
}
  
.youtube-embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
  
.video-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1em;
}
  
.video-view-title {
   width: 1500px;
   font-size: 2.5em;
   margin-top: 1em;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow:hidden;
}
  
.favorite-icon {
   cursor: pointer;
   margin-top: 1em;
   font-size: 1.5em;
}
  
.video-stats {
   font-size: 1.25em;
   padding: 1em 0 0;
   color: grey;
   display: flex;
   justify-content: space-between;
}
  
.upload-date{
   font-size: 1.5em;
}

.video-description {
   padding: 0.5em 0 1em;
   text-align:justify;
   font-size: 2em;
   color: #333;
}

/* 推薦影片區塊 */
.recommendation-card {
   margin-bottom: 1em;
   padding: 10px 10px 10px 0;
   display: flex;
   align-items: center;
}
 
.recommendation-item {
   display: flex;
   flex-direction: row;
   width: 100%;
}
 
.thumbnail-r {
   flex: 0 0 45%;
   max-width: 300px;
}
 
.video-thumbnail-r {
   width: 100%;
   height: auto;
   border-radius: 5px;
   padding-top: 5px;
}
 
.video-details-r {
   flex: 1;
   padding-left: 10px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 5px; /* 控制標題與觀看次數的間距 */
}
 
.video-title-r {
   font-size: 1.6em;
   font-weight: bold;
   margin: 0;
}

.view-count-r {
   color: grey;
   font-size: 1.2em;
   font-weight: normal;
}

.upload-date-r {
   font-size: 1.2em;
   color: grey;
}

@media screen and (max-width: 1000px) {
   .video-grid {
      margin: 0;
   }

   .video-item {
      padding: 1em;
   }

   .video-title {
      font-size: 1.75em;
      width: 230px;
   }

   .view-count{
      font-size: 1.25em;
   }

   .upload-date{
      font-size: 1.25em;
   }

   .video-description {
      font-size: 1.7em;
   }

   /* 推薦影片區塊 */
   .thumbnail-r {
      max-width:  320px;
      max-height: 180px;
   }
  
    .video-title-r {
      font-size: 1.4em;
   }
}

@media (min-width: 1000px) and (max-width: 1280px) { 
   .video-grid {
      margin: 0em;
   }
}