.v-container {
   font-size: 10px; /* 茅點 */
}

/* 水平並排 */
.flex-container { 
   display: flex;
   align-items: center;
}

/* 標題底色 */
.list-title { 
   height: 7em;
   background-color: #e2e2e2;
   display: flex;
   align-items: center;
}

/* 標題文字 */
.page-title { 
   font-size: 2.5em;
   margin-left: 0.1em;
}

.list-item {
   font-size: 10px; /* 茅點 */
   border: 0.5px solid #e0e0e0;
}

.list-item h2 {
   font-size: 2em;
}

.list-item h4 {
   font-size: 2em;
}

.list-item p {
   font-size: 2em;
}

.userImg {
   width: 2em;
   height: 2em;
   margin-top: 5px;
   margin-left: 15px;
}

/* 跳轉頁面按鈕 */
.pageBtn { 
   width: 60% !important;
   height: 3em !important;
   font-size: 2em !important;
   margin-bottom: 10px !important;
   color: #FFFFFF;
   background-color: #69c9a7;
}

/* 搜尋功能列 */
.search-frame {
   padding: 3em 1.5em;
}

.search-title {
   font-size: 2em;
}

.search-item {
   font-size: 2em;
   font-weight: 600;
   margin-right: 0.5em;
}

.search-btn {
   height: 50px;
   font-size: 2em;
   border-radius: 5px;
   width: 150px !important;

   color: #FFFFFF;
   text-align: center;
   background-color: #7edcbb;
}

.search-btn:hover {
   color: #FFFFFF;
   background-color: #69c9a7;
}

/* 下拉式選單 */
.dropdown {
   display: flex;
   align-items: center;
   justify-items: center;
}

.dropdown label {
   display: block;
   font-size: 1.6em;
   margin-bottom: 8px;
}

.dropdown select {
   width: 25%;
   padding: 10px;
   margin-right: 20px;
   font-size: 1.8em;
   border-radius: 5px;
   border: 1px solid #ccc;

   -webkit-appearance: none; /* 移除 Webkit 瀏覽器的預設箭頭 */
   -moz-appearance: none; /* 移除 Firefox 的預設箭頭 */
   appearance: none; /* 移除所有瀏覽器的預設箭頭 */
   background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
   background-color: white;
   background-size: 20px;
   padding-right: 40px; /* 給自定義箭頭留空間 */
}

select:focus {
   outline: none;
   border-color: #555;
}

select option {
   font-size: 1em;
}

/* 資料顯示數量 */
.pageTotal {
   font-size: 2em;
   margin: 1.5% 1.5%;
}

.pageTotal select {
   width: 3em;
   padding: 10px;
   font-size: 0.8em;
   border-radius: 5px;
   border: 1px solid #ccc;
   background-color: #fff;
}

/* 頁碼功能列 */
.page-container {
   margin: 2.3em;
}

.pageNum {
   font-size: 20px;
}


@media screen and (max-width: 1000px) {
   .page-title {
      font-size: 1.5em;
      margin-left: 0.05em;
   }

   .search-frame {
      padding: 1.5em 1.5em;
   }

   .dropdown {
      display: block;
   }

   .dropdown select {
      width: 100% !important;
      margin: 1em 0 1em;
   }

   .list-title {
      height: 4em;
      font-size: 1.3em;
   }
   
   .list-item {
      height: 7em;
      font-size: 0.8em;
   }

   .pageBtn {
      width: 100% !important;
   }
}