.v-container {
   font-size: 10px; /* 茅點 */
}

/* 水平並排 */
.flex-container { 
   display: flex;
   align-items: center;
}

/* 頁籤樣式 */
.page-tab {
   height: 60px;
   font-size: 20px;
   padding: 0 35px 0;
   background-color: #ececec;
   justify-content: space-between;
}

.tab-L {
   color: #6cb39a;
   font-weight: 600;
   text-decoration: none;
}

/* 標題底色 */
.list-title { 
   height: auto;
   padding: 1em;
   background-color: #e2e2e2;
}

/* 標題文字 */
.page-title { 
   font-size: 2.5em;
   margin-left: 0.1em;
}

.list-item {
   height: auto;
   font-size: 10px; /* 茅點 */
   border: 0.5px solid #e0e0e0;
}

.list-item h2 {
   font-size: 2.3em;
}

.list-item h4 {
   font-size: 2.3em;
}

.list-item p {
   font-size: 2.3em;
}

.item-input {
   width: 50%;
   height: 2.5em;
   font-size: 23px;
   margin-left: 45px;
   margin-top: 0.7em;
   margin-bottom: 0.7em;
   padding-left: 10px;
   border-radius: 5px;
   outline: none; /* 移除點擊後的外框 */
   border: 1.5px solid #76caad;
}

.item-input:focus {
   border-color: #76caad;
   background-color: white;
}

.list-info50 {
   margin-left: 1.8em;
   margin-top: 0.7em;
   margin-bottom: 0.7em;
}

.list-name {
   margin-top: 0.7em;
   margin-bottom: 0.7em;
}

.userImg {
   width: 2em;
   height: 2em;
   margin-left: 15px;
}

.save-btn {
   font-size: 2em;
   color: #FFFFFF;
   background-color: #76caad;
}

/* 搜尋功能列 */
.search-frame {
   padding: 3em 1.5em;
}

.search-title {
   font-size: 2em;
}

.search-item {
   font-size: 2em;
   font-weight: 600;
   margin-right: 0.5em;
}

.search-btn {
   height: 50px;
   font-size: 2em;
   border-radius: 5px;
   width: 150px !important;

   color: #FFFFFF;
   text-align: center;
   background-color: #7edcbb;
}

.search-btn:hover {
   color: #FFFFFF;
   background-color: #69c9a7;
}

/* 下拉式選單 */
.dropdown {
   display: flex;
   align-items: center;
   /* justify-items: center; */
}

.dropdown label {
   display: block;
   font-size: 1.6em;
   margin-bottom: 8px;
}

.dropdown select {
   width: 25%;
   padding: 10px;
   margin-right: 20px;
   font-size: 1.8em;
   border-radius: 5px;
   border: 1px solid #ccc;

   -webkit-appearance: none; /* 移除 Webkit 瀏覽器的預設箭頭 */
   -moz-appearance: none; /* 移除 Firefox 的預設箭頭 */
   appearance: none; /* 移除所有瀏覽器的預設箭頭 */
   background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
   background-color: white;
   background-size: 20px;
   padding-right: 40px; /* 給自定義箭頭留空間 */
}

select:focus {
   outline: none;
   border-color: #555;
}

select option {
   font-size: 1em;
}

/* 搜尋列輸入框 */
.search-input {
   width: 25%;
   height: 2.2em;
   font-size: 23px;
   margin-right: 1em;
   padding-left: 10px;
   border-radius: 5px;
   outline: none; /* 移除點擊後的外框 */
   border: 1.5px solid #76caad;
}

.search-input:focus {
   border-color: #76caad;
   background-color: white;
}

/* 資料顯示數量 */
.pageTotal {
   font-size: 2em;
   margin: 0 1em 0;
}

.perPage {
   margin-top: 1em;
}

/* 頁碼功能列 */
.page-container {
   margin-top: 2.3em;
   margin-right: 3.3em;
   margin-bottom: 2.3em;
}

.pageNum {
   margin-left: 20px;
   font-size: 20px;
}


@media screen and (max-width: 1000px) {
   .page-tab {
      height: 50px;
      font-size: 15px;
      padding: 0 20px 0;
      margin-bottom: 10px;
   }

   .page-title {
      font-size: 1.5em;
      margin-left: 0.05em;
   }

   .search-frame {
      padding: 0em;
   }

   .dropdown {
      display: block;
   }

   .dropdown select {
      width: 100% !important;
      margin: 0em 0 1em;
   }

   .top-select {
      margin-top: 1em !important;
   }

   .list-title {
      height: auto;
      font-size: 1.3em;
   }
   
   .list-item {
      font-size: 0.8em;
   }

   .item-input {
      width: 65%;
      height: 2.3em;
      font-size: 18px;
      margin-left: 20px;
      margin-top: 0.7em;
      margin-bottom: 0.7em;
      padding-left: 10px;
      border-radius: 5px;
   }
   
   .list-info50 {
      margin-left: 1em;
      margin-top: 0.7em;
      margin-bottom: 0.7em;
   }

   /* 搜尋列輸入框 */
   .search-input {
      width: 100%;
      height: 2.3em;
      font-size: 18px;
      margin-bottom: 1em;
      padding-left: 10px;
      border-radius: 5px;
   }

   .save-btn {
      width: 3em;
      font-size: 1.2em;
      color: #FFFFFF;
      background-color: #76caad;
   }

   .search-btn {
      margin-bottom: 0.5em;
   }

   .pageTotal {
      font-size: 2em;
      margin: 0 0.5em 0;
   }

   .perPage {
      margin-top: 1em;
   }
}