.v-application {
   font-size: 10px; /* 茅點 */
   background-color: #fffbf7;
}

.pageTitle {
   border-bottom: 0.5px solid #e0e0e0;
}

.pageTitle p {
   font-size: 2.5em;
   font-weight: bold;
   margin-left: 1.2em;
   color: #69c9a7;
}

.userName {
   font-size: 1.8em;
   font-weight: bold;
   margin-right: 1em;
   color: #5fb396;
   text-decoration: none;
}

.userName2 {
   font-size: 1.8em;
   font-weight: bold;
   margin-right: 1em;
   color: #FFFFFF;
   text-decoration: none;
}

.logoutBtn {
   font-size: 1.8em;
   font-weight: bold;
   margin-right: 1.2em !important;
   color: #69c9a7 !important;
}

.logoutBtn2 {
   font-size: 1.6em;
   color: #FFFFFF !important;
   background-color: #69c9a7 !important;
}

.router {
   color: '#FF9898';
}

/* 電腦功能列 */
.bar-btn {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   color: #FFFFFF;
   font-weight: bold;
}

.bar-btn:hover {
   color: #FFFFFF;
   background-color: #61bc9c;
}

.bar-btn-clicked {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   font-weight: bold;
   color: #FFFFFF;
   background-color: #61bc9c;
}

.bar-btn-info {
   height: 4.5em;
   font-size: 1.5em;
   font-weight: bold;
   color: #FFFFFF;
}

.info-number {
   background-color: orange;
   width: 2.5em;
   height: 2.5em;
   margin-left: 1.5em;
   border-radius: 50%;
   display: flex;
   text-align: center;
   justify-content: center;
}

.info-number p {
   margin-top: 3px;
   font-size: 1.5em;
   font-weight: 500;
   color: #FFFFFF;
}

.bar-btn-icon {
   margin-right: 0.75em;
}

/* 手機功能列 */
.sm-bar-btn {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   font-weight: bold;
   color: #FFFFFF;
}

.sm-bar-btn-clicked {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   font-weight: bold;
   color: #FFFFFF;
   background-color: #69c9a7;
}

.sm-bar-btn-icon {
   margin-right: 0.75em;
}

.sm-info-number {
   width: 1.5em;
   height: 1.5em;
   margin-left: 0.5em;
   border-radius: 50%;
   display: flex;
   text-align: center;
   justify-content: center;
   background-color: orange;
}

.sm-info-number p {
   color: #FFFFFF;
}

/* 修改 v-list-item 樣式 */
.v-list-item.sm-bar-btn {
   color: #69c9a7; /* 改變文字顏色 */
}

.messages {
   font-size: 1.25em;
   display: flex;
   display: flex;
   flex-direction: column; /* 垂直排列 */
   align-items: center; /* 水平居中 */
   justify-content: center; /* 垂直居中 */
}
