.v-application {
   font-size: 10px; /* 茅點 */
   background-color: #fffbf7;
}

.pageTitle {
   border-bottom: 0.5px solid #e0e0e0;
}

.pageTitle p {
   font-size: 2.5em;
   font-weight: bold;
   margin-left: 1.2em;
   color: #69c9a7;
}

.userName-container {
   margin-top: 10px;
}

.userName {
   font-size: 1.8em;
   font-weight: bold;
   color: #5fb396;
   text-decoration: none;
}

.userName2 {
   font-size: 1.8em;
   font-weight: bold;
   color: #FFFFFF;
   text-decoration: none;
}

.drop-down-btn {
   color: #afafaf;
   margin-right: 0.5em;
   margin-bottom: 0.2em;
}

.drop-down-btn2 {
   color: #FFFFFF;
   margin-right: 0.2em;
   margin-bottom: 0.2em;
}

.logoutBtn {
   width: 80px !important;
   font-size: 1.8em;
   font-weight: bold;
   margin-right: 1.2em !important;
   color: #69c9a7 !important;
}

.logoutBtn2 {
   font-size: 1.6em;
   color: #FFFFFF !important;
   background-color: #69c9a7 !important;
}

/* 電腦功能列 */
.cp-drawer {
   overflow-y: auto;
   border: none;
   background: linear-gradient(to right, #7bd7b7, #69c9a7);
}

.bar-btn {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   color: #FFFFFF;
   font-weight: bold;
}

.bar-btn:hover {
   color: #FFFFFF;
   background-color: #61bc9c;
}

.bar-btn-clicked {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   font-weight: bold;
   color: #FFFFFF;
   background-color: #61bc9c;
}

.bar-btn-info {
   height: 4.5em;
   font-size: 1.5em;
   font-weight: bold;
   color: #FFFFFF;
   text-decoration: none;
}

.messages {
   font-size: 1.25em;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.bar-btn-info-container {
   margin-top: 3em;
}

.info-number {
   background-color: orange;
   width: 2.5em;
   height: 2.5em;
   margin-top: -4.25em;
   margin-left: 1em;
   border-radius: 50%;
   display: flex;
   text-align: center;
   justify-content: center;
}

.info-number p {
   font-size: 1.5em;
   font-weight: 500;
   color: #FFFFFF;
   margin-top: 2.5px;
}

.bar-btn-icon {
   margin-right: 0.75em;
}

/* 手機功能列 */
.sm-bar-btn {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   font-weight: bold;
   color: #FFFFFF;
}

.sm-bar-btn .v-list-item-title {
   font-size: 1em;
   font-weight: bold;
}

.sm-bar-btn-clicked {
   width: 100%;
   height: 4.5em;
   font-size: 2em;
   font-weight: bold;
   color: #FFFFFF;
   background-color: #69c9a7;
}

.sm-bar-btn-clicked .v-list-item-title {
   font-size: 1em;
   font-weight: bold;
}


.sm-bar-btn-icon {
   margin-right: 0.75em;
}

.sm-bar-btn-info {
   color: #69c9a7;
   margin-bottom: 10px;
   text-decoration: none;
}

.sm-info-number {
   width: 1.5em;
   height: 1.5em;
   margin-left: 0.5em;
   border-radius: 50%;
   display: flex;
   text-align: center;
   justify-content: center;
   background-color: orange;
}

.sm-info-number p {
   color: #FFFFFF;
}

.sm-info-number2 {
   width: 3em;
   height: 3em;
   margin-left: 0.5em;
   border-radius: 50%;
   display: flex;
   text-align: center;
   justify-content: center;
   background-color: orange;
}

.sm-info-number2 p {
   font-size: 2em;
   color: #FFFFFF;
}

.bell-container {
   margin: 0.3em 2.5em;
}

.bell-icon {
   color: #FFFFFF !important;
}

.router {
   color: '#FF9898';
}

/* 修改 v-list-item 樣式 */
.v-list-item.sm-bar-btn {
   color: #69c9a7;
}

/* 帳號功能視窗 */
.account-page-container {
   position: absolute;
   right: 0;
   margin-top: 1.25em;
   margin-right: 1em;
   width: 225px !important;
   height: 240px !important;
}

.account-page-container .v-icon {
   color: #69c9a7;
   margin-right: 0.5em;
}

.account-page-container a {
   height: 2.5em;
   font-weight: 550;
   font-size: 1.4em;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: #69c9a7;
}


.sm-account-page-container {
   position: absolute;
   right: 0;
   width: 225px !important;
   height: 240px !important;
   margin-top: 1em;
   margin-right: -0.5em;
}

.sm-account-page-container .v-icon {
   color: #69c9a7;
   margin-right: 0.5em;
}

.sm-account-page-container a {
   height: 2.5em;
   font-weight: 550;
   font-size: 1.4em;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: #69c9a7;
}