.sub-title {
   font-size: 2em; /* 小標題字體大小 */
   margin: 0; /* 移除上下間距 */
}
/* 每月活動目標區塊 */
.monthly-goal-section {
   border-radius: 8px; /* 圓角 */
   width: 60%; /* 區塊寬度 */
   margin: 3em 1.5em;
   border: #dddddd solid 1px;
}

/* 第一行：小標題與保存按鈕 */
.goal-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px 8px 0 0;
   background-color: #f0f0f0;
   padding: 10px 20px;
}

/* 每行輸入框區塊 */
.goal-input-row {
   display: flex;
   align-items: center;
   background-color: #fff; /* 白色背景 */
   padding: 15px 20px;
   color: #914502;
   font-size: 1.6em;
}

.goal-input-row:nth-child(odd) {
   background-color: #f0f0f0; /* 灰色背景 */
   border-radius: 0 0 8px 8px;
}

/* 調整標籤和輸入框的寬度使它們對齊 */
.goal-label {
   width: 150px; /* 固定標籤寬度，確保兩行標籤對齊 */
   text-align: left;
}

.goal-input {
   width: 150px; /* 固定輸入框寬度，確保輸入框對齊 */
   padding: 5px;
   background-color: #fff;
   border: 1px solid #000; /* 黑色邊框 */
   border-radius: 4px;
   margin-right: 10px; /* 保持與後面的文字（步、分鐘）間距 */
}

/* 隱藏輸入欄位右側的上下箭頭 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
margin: 0; 
}

/* 保存成功的提示 */
.save-success {
   color: #28a745; /* 成功提示文字顏色 */
   margin-bottom: 20px;
}

.calendar-row {
   padding: 1.5em 1em 0.5em 1em;
}

.my-calendar .vc-weekday-1, .my-calendar .vc-weekday-7 {
   color: #6366f1;
}

.day-content { 
   text-align: left;
   font-size: 1.8em;
   padding-left: 5px;
   border: 0.05px solid #b6b6b6;
   border-bottom: none;
}

.day-content-phone {
   padding: 0.6em;
   text-align: center;
}

.space {
   height: 10em;
   width: 100% !important;
   border: 0.5px solid #b6b6b6 !important;
   border-top: none !important;

   display: flex;
   align-items: center; /* 垂直置中 */
   justify-content: center; /* 水平置中 */
}

.space a {
   width: 70%;
   height: 70%;
   font-size: 2.5em;
   font-weight: 600;
   margin-top: 20px;

   overflow: hidden;
   text-align: center;
   white-space: nowrap;
   text-decoration: none;
   text-overflow: ellipsis;
}

.recordComplete {
   color: #43a989;
}

.recordMissing {
   color: #ff0000;
}

.recordUnComplete {
   color: #e6933b;
}

.recordNull{
   color: #b6b6b6;
}

.status-icon {
   font-size: 0.8em;
   margin-left: 5px;
   vertical-align: middle;
}

.status-icon0 {
   font-size: 1.2em;
   font-weight: 600;
   margin-left: 10px;
   display: flex;
   vertical-align: middle;
}

.complete-icon {
   color: #43a989;
}

.missing-icon {
   color: #ff0000;
}

.uncomplete-icon {
   color: #e6933b;
}

.legend-item {
   font-size: 2em;
   margin-top: 1em;

   display: flex;
   align-items: center;
}

@media screen and (max-width: 1350px) {
   .space a { 
      font-size: 2.35em;
   }
}

@media screen and (max-width: 1300px) {
   .space a { 
      font-size: 2.2em;
   }
}


@media screen and (max-width: 1000px) {
   .monthly-goal-section {
      border-radius: 8px; /* 圓角 */
      width: 100%; /* 區塊寬度 */
      margin: 3em 0.1em;
   }

   .goal-header {
      border-radius: 8px 8px 0 0;
   }

   .goal-header .save-btn {
      font-size: 1.5em;
   }

   .calendar-row {
      padding: 1em 1em 0.5em 1em;
   }

   .day-content {
      text-align: left;
      font-size: 1.8em;
      padding-left: 0;
      border: none;
   }  
}

@media (min-width: 495px) and (max-width: 570px) {
   .day-content {
      font-size: 2.2em;
   }  
}