/* 首頁-全局類型 */
.v-card-title {
   display: flex;
   font-weight: 600;
   align-items: center;
   color: #FFFFFF;
   background: #81d0cd;
   border-bottom: 0.5px solid #a3a3a3;
}

.flex-container {
   display: flex;
   align-items: center;
}

.inner-box {
   font-size: 10px; /* 茅點 */
   height: auto;
   overflow-y: auto;
   max-height: 80%;
   background-color: #FFFFFF;
}

.v-card-L {
   font-size: 10px; /* 茅點 */
   height: 38em;
}

.recent-progress {
   padding-top: 1em;
   font-size: 1.5em;
   color: #c53939;
}

.recent-progress-linear {
   margin-top: 2em;
   height: 2em !important;
}

.recent-progress-num {
   font-size: 1.5em;
   margin-left: 1em;
   margin-top: 1.25em;
   font-weight: 500;
}

/* 首頁-左側功能區 */
.col-1 {
   flex: 0 0 13%;
   font-size: 2.3em;
}

.col-2 {
   flex: 0 0 23%;
   font-size: 2em;
}

.col-3 {
   flex: 0 0 35%;
   font-size: 2.3em;
}

.col-time {
   margin-left: 30px;
}

.v-chip {
   font-size: 20px !important;
   height: 2em !important;
}

.completed-chip {
   font-weight: 600;
}

/* 首頁-諮詢功能區 */
.v-card-space {
   font-size: 10px; /* 茅點 */
   margin-bottom: 20px !important;
}

.personMeet {
   color: #e9b347;
   font-weight: 800;
}

.groupMeet {
   color: #436ead;
   font-weight: 800;
}

.meetImg {
   width: 17px;
   margin-left: 5px;
}

.meetImg2 {
   width: 23px;
   margin-left: 5px;
}

.row {
   display: flex;
   padding: 5px 0;
   align-items: center;
   border-bottom: 1px solid #e0e0e0;
}

.title-row {
   font-weight: bold;
}

.text-center {
   text-align: center;
}

.gray {
   background-color: #f5f5f5;
}

/* 首頁-排名功能區 */
.v-card-Group {
   font-size: 10px; /* 茅點 */
   height: 63em;
}

.group-rank {
   font-size: 2.3em;
}

.col-4 {
   flex: 0 0 10%;
}

.col-5 {
   flex: 0 0 30%;
}

.col-6 {
   flex: 0 0 30%;
   margin: 0.5em 0em 0.5em;
}

/* 4大功能區塊 */
.next-page-button {
   width: 100%;   
   height: 25%;
   display: flex;
   align-items: center;
   color: #FFFFFF;
   background-color: #ffaf2f;
   font-weight: bold;
   font-size: 16px;
   padding-left: 20px;
}

.next-page-button:hover {
   background-color: #ff932f;
}

.arrow {
   background-color: #FFFFFF;
   font-size: 30px;
   width: 15%;
   color: #ffaf2f;
   border-radius: 10px;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}

.text {
   margin-left: 20px;
   font-size: 30px
}

/* 適應視窗比例 */
@media screen and (max-width: 3000px) {  /* 桌機螢幕67%：完成 */
   /* 首頁-左側功能區 */
   .v-card-L {
      height: 57em;
   }

   .col-1 {
      flex: 0 0 16%;
      font-size: 3em;
      margin: 1% 0 1%;
   }

   .col-2 {
      flex: 0 0 25%;
      font-size: 3em;
   }

   .col-3 {
      flex: 0 0 30%;
      font-size: 3em;
   }

   .v-chip {
      height: 50px !important;
      font-size: 25px !important;
   }

   /* 首頁-排名功能區 */
   .group-rank {
      font-size: 3em;
   }
}

@media screen and (max-width: 2600px) { 
   /* 首頁-左側功能區 */
   .v-card-L {
      height: 53em;
   }

   .v-chip {
      height: 50px !important;
      font-size: 25px !important;
   }

}

@media screen and (max-width: 2000px) {  /* 筆電螢幕67%：完成 */
   .v-card-title {
      height: 2.5em;
      font-size: 2.3em;
   }

   /* 首頁-左側功能區 */   
   .v-card-L {
      height: 37.75em;
   }

   .col-1 {
      flex: 0 0 13%;
      font-size: 2.3em;
   }

   .col-2 {
      flex: 0 0 23%;
      font-size: 2.3em;
   }

   .col-3 {
      flex: 0 0 35%;
      font-size: 2.3em;
   }

   .v-chip {
      font-size: 23px !important;
      height: 45px !important;
   }

   /* 首頁-排名功能區 */
   .v-card-Group {
      height: 63em;
   }

   .group-rank {
      font-size: 2.3em;
   }

}

@media screen and (max-width: 1800px) {  /* 筆電螢幕75%：完成 */
   .v-card-title {
      height: auto;
      font-size: 2em;
   }

   /* 首頁-左側功能區 */
   .v-card-L {
      height: 32.5em;
   }

   .col-1 {
      flex: 0 0 15%;
      font-size: 2em;
   }

   .col-2 {
      flex: 0 0 23%;
      font-size: 2em;
   }

   .col-3 {
      flex: 0 0 35%;
      font-size: 2em;
   }

   .v-chip {
      font-size: 20px !important;
      height: 35px !important;
   }

   /* 首頁-排名功能區 */
   .v-card-Group {
      height: 56.75em;
   }

   .group-rank {
      font-size: 2em;
   }

   /* 4大功能區塊 */
   .arrow {
      font-size: 20px;
      width: 15%;
      margin-right: 5px;
   }

   .text {
      margin-left: 20px;
      font-size: 25px
   }
   
}

@media screen and (max-width: 1600px){   /* 筆電螢幕80%：完成 */
   /* 首頁-左側功能區 */
   .v-card-L {
      height: 29.85em;
   }

   .col-1 {
      flex: 0 0 15%;
      font-size: 1.9em;
   }

   .col-2 {
      flex: 0 0 23%;
      font-size: 1.9em;
   }

   .col-3 {
      flex: 0 0 35%;
      font-size: 1.9em;
   }

   .v-chip {
      font-size: 19px !important;
      height: 35px !important;
   }

   /* 首頁-排名功能區 */
   .v-card-Group {
      height: 54.25em;
   }

   .group-rank {
      font-size: 1.9em;
   }
}

@media screen and (max-width: 1300px) {  /* 筆電螢幕100%：完成 */
   
}

@media screen and (max-width: 1200px) {  /* 手機螢幕比例：完成 */
   .v-chip {
      font-size: 15px !important;
      height: 30px !important;
   }

   /* 小螢幕-諮詢會議 */
   .meetCard {
      height: auto;
      margin-bottom: -20px;
   }

   .meet-box {
      background-color: #ffffff;
      height: auto;
      max-height: 13em;
      margin: 0.5em 0.5em;
      border-bottom: 1px solid #e0e0e0;
   }

   .meetName {
      margin: 20px 0;
      padding: 15px 0;
      font-size: 18px;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .meetInfo {
      display: flex;
   }

   .meetTime {
      margin-left: auto;
   }

   .meetImg {
      width: 15px;
      height: 15px;
      margin-left: 10px;
   }

   .meetImg2 {
      width: 13px;
      margin-left: 3px;
   }

}

@media screen and (max-width: 1100px) { 
   
}

@media screen and (max-width: 1000px) { 
   .col-1 {
      flex: 0 0 15%;
      font-size: 1.6em;
   }

   .col-2 {
      flex: 0 0 40%;
      font-size: 1.6em;
   }

   .col-time {
      display: none;
   }

   /* 首頁-排名功能區 */
   .group-rank {
      font-size: 1.6em;
   }
}

@media screen and (max-width: 959px) { 
   .v-card-space {
      margin-bottom: 0px !important;
   }

   .v-card-Group {
      margin-top: -2.5em;
      height: 29.85em;
   }

   /* 4大功能區塊 */
   .next-page-button {
      padding: 5px 5px;
   }

   .arrow {
      background-color: white;
      font-size: 20px;
      width: 15%;
   }
   
   .text {
      margin-left: 20px;
      font-size: 20px
   }
}