.survey-container {
   font-size: 10px; /* 茅點 */
   margin: 1% 20% 10px;
}

.survey-title {
   background-color: #71ccc7;
   color: #FFFFFF;
   height: 3em;
   font-size: 3em;
}

.intro-container {
   height: auto;
   font-size: 2.5em;
   padding: 1.8em 2em 1.8em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #FFFFFF;
}

.intro-content {
   color: #636d6d;
   font-weight: 600;
   text-align: justify;
   margin-bottom: 1.8em;
}

.form-check-container {
   margin-bottom: 1.8em;
   display: flex;
   align-items: flex-start; /* 顶部对齐，确保复选框和第一行文字对齐 */
}

.form-check-input {
   flex-shrink: 0; /* 阻止复选框因为文字多行而缩小 */
   width: 20px;
   height: 20px;
   margin-right: 10px; /* 给复选框和文字之间增加一定的间距 */
   margin-top: 6px; /* 手动调整复选框的位置，使其与文字对齐 */
   border: 2px solid #71ccc7 !important;
   border-radius: 4px;
   vertical-align: middle;
}

.form-check-label {
   line-height: 1.5; /* 保持文本的可读性 */
   color: #636d6d;
}

.button-container {
   display: flex;
   margin: 0.5em 0 0.5em;
}

.submitBtn {
   height: 3em !important;
   width: 100%;
   font-size: 1em;
   font-weight: 600;
   margin-top: 0.5em;
   color: #FFFFFF;
   background-color: #71ccc7;
}

.cancelBtn {
   height: 3em !important;
   width: 30%;
   font-size: 1em;
   font-weight: 600;
   margin: 0.5em 30px 0;
   color: #FFFFFF;
   background-color: #db6666;
}

@media screen and (max-width: 1200px) {   
   .survey-container { 
      margin: 1% 10% 10px;
   }

   .survey-title {
      font-size: 2.5em;
   }

   .intro-container {
      font-size: 2.3em;
      padding: 1.3em 1.5em 1.3em;
   }

   .button-container {
      flex-direction: column;
      justify-content: center;
   }

   .submitBtn {
      margin-top: 10px;
   }

   .cancelBtn {
      width: 100%;
      margin: 15px 0 0;
   }
}

@media screen and (max-width: 900px) {
   .survey-container { 
      margin: 0%;
   }
}
